VAPID_SUBJECT=mailto:seu-email@exemplo.com
VAPID_PUBLIC_KEY=BIONXeSdJHmIO-KPwxP9WVO7RAbZv5FuKzJm3VeKhJ1ZJ28TURClK4QeJfVgZOCvJHDWsUMueL9ZY8ZngzFQpxI
VAPID_PRIVATE_KEY=COLOQUE_A_CHAVE_PRIVADA_NA_VERCEL
PUSH_API_SECRET=CRIE_UMA_CHAVE_FORTE
ALLOWED_ORIGINS=https://SEU_USUARIO.github.io
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
