VAPID_SUBJECT=mailto:seu-email@exemplo.com
VAPID_PUBLIC_KEY=BB_2CgUXqA5RQ96MC49un2HzvAcMPYUSmFGGm1f5ycFyBZXKYP3xlf9gy5FbZBTjzuIaQjFqhbtaX9Fl6tvC_hA
VAPID_PRIVATE_KEY=COLOQUE_A_CHAVE_PRIVADA_NA_VERCEL
PUSH_API_SECRET=CRIE_UMA_CHAVE_FORTE
ALLOWED_ORIGINS=https://SEU_USUARIO.github.io
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
